.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  input {
    width: 60%;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid #000000;
    padding: 10px;
    &:focus {
      outline: naone;
    }
  }
}
