.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2ffbb;
  .wrapper {
    width: 300px;
    height: 650px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #00ffff;
    .mode {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 40px;
      background-color: aliceblue;
      margin: 10px;
      border: 1px solid #000000;
      &:hover {
        border: 1px solid #ff0000;
      }
    }
  }
}
